Repository Flint-org/Flint-API-Server, pull requests merged in 2023-09, with the labels that each got.

#33 feat: 학교 관련 asset 데이터를 정의하고 추가한다.
  src/main/java/com/flint/flint/asset/domain/UniversityAsset.java
  src/main/java/com/flint/flint/asset/domain/UniversityMajor.java
  src/main/java/com/flint/flint/club/domain/comment/ClubComment.java
  src/main/java/com/flint/flint/club/domain/comment/ClubCommentLike.java
  src/main/java/com/flint/flint/club/domain/main/ClubCategory.java
  src/main/java/com/flint/flint/club/domain/main/ClubEnvironment.java
  src/main/java/com/flint/flint/club/domain/main/ClubImage.java
  src/main/java/com/flint/flint/club/domain/main/ClubLike.java
  src/main/java/com/flint/flint/club/domain/main/ClubRequirement.java
  src/main/java/com/flint/flint/club/domain/main/MemberInClub.java
  src/main/java/com/flint/flint/club/repository/main/ClubCustomRepositoryImpl.java
  src/main/java/com/flint/flint/common/BaseTimeEntity.java
  src/main/java/com/flint/flint/common/spec/ResultCode.java
  src/main/java/com/flint/flint/community/domain/post/Post.java
  src/main/java/com/flint/flint/community/domain/post/PostComment.java
  src/main/java/com/flint/flint/community/domain/post/PostCommentLike.java
  src/main/java/com/flint/flint/community/domain/post/PostImage.java
  src/main/java/com/flint/flint/community/domain/post/PostLike.java
  src/main/java/com/flint/flint/community/domain/post/PostScrap.java
  src/main/java/com/flint/flint/member/domain/main/Member.java
Labels: Feat, Refactor, Infra

#31 Feat: 이메일 API 구현
  build.gradle
  src/main/java/com/flint/flint/club/domain/comment/ClubComment.java
  src/main/java/com/flint/flint/club/domain/comment/ClubCommentLike.java
  src/main/java/com/flint/flint/club/domain/main/ClubCategory.java
  src/main/java/com/flint/flint/club/domain/main/ClubLike.java
  src/main/java/com/flint/flint/club/domain/main/MemberInClub.java
  src/main/java/com/flint/flint/common/ResponseForm.java
  src/main/java/com/flint/flint/common/spec/ResultCode.java
  src/main/java/com/flint/flint/config/MailConfig.java
  src/main/java/com/flint/flint/config/RedisConfig.java
  src/main/java/com/flint/flint/config/SecurityConfig.java
  src/main/java/com/flint/flint/mail/controller/MailController.java
  src/main/java/com/flint/flint/mail/dto/request/SendEmailAuthNumberReqeust.java
  src/main/java/com/flint/flint/mail/dto/request/VeriyEmailAuthnumberRequest.java
  src/main/java/com/flint/flint/mail/dto/response/EmailAuthNumberRespose.java
  src/main/java/com/flint/flint/mail/service/MailService.java
  src/main/java/com/flint/flint/mail/service/RateLimitService.java
  src/main/java/com/flint/flint/member/domain/main/Member.java
  src/main/java/com/flint/flint/member/service/MemberService.java
  src/main/java/com/flint/flint/redis/RedisUtil.java
  src/main/java/com/flint/flint/security/auth/AuthenticationController.java
  src/main/java/com/flint/flint/security/auth/AuthenticationService.java
  src/main/java/com/flint/flint/security/auth/jwt/JwtService.java
  src/main/resources/application.yml
  src/test/java/com/flint/flint/mail/service/MailServiceTest.java
  src/test/java/com/flint/flint/redis/RedisUtilTest.java
  src/test/java/com/flint/flint/security/auth/AuthenticationServiceTest.java
  src/test/java/com/flint/flint/security/auth/jwt/JwtServiceTest.java
Labels: Feat, Fix, Test

#38 hotfix: 테스트 빌드를 위한 환경 분리를 재설정한다.
  .github/workflows/main.yml
  src/main/resources/application-local.yml
  src/main/resources/application.yml
  src/test/java/com/flint/flint/FlintApplicationTests.java
  src/test/java/com/flint/flint/club/controller/ClubControllerTest.java
  src/test/java/com/flint/flint/club/service/ClubServiceTest.java
  src/test/java/com/flint/flint/redis/RedisUtilTest.java
  src/test/java/com/flint/flint/security/oauth/dto/KakaoOAuth2UserAttributeTest.java
  src/test/java/com/flint/flint/security/oauth/dto/NaverOAuth2UserAttributeTest.java
Labels: Test, Hotfix, Chore

#40 hotfix: 통합 테스트 오류 수정
  src/main/resources/application.yml
  src/test/java/com/flint/flint/security/auth/jwt/JwtServiceTest.java
Labels: Test, Hotfix, Chore, Refactor

#35 feat: 미디어 파일 저장 서비스 로직과 pre-signed url 방식 도입
  src/main/java/com/flint/flint/common/spec/ResultCode.java
  src/main/java/com/flint/flint/media/controller/MediaController.java
  src/main/java/com/flint/flint/media/dto/request/PreSignedUrlRequest.java
  src/main/java/com/flint/flint/media/dto/response/PreSignedUrlResponse.java
  src/main/java/com/flint/flint/media/dto/response/SavingFileResult.java
  src/main/java/com/flint/flint/media/service/MediaService.java
  src/main/resources/application-dev.yml
Labels: Docs, Feat, Refactor

#46 feat: Asset 데이터를 조회하는 서비스 로직 구현
  src/main/java/com/flint/flint/asset/domain/UniversityMajor.java
  src/main/java/com/flint/flint/asset/dto/LogoInfoResponse.java
  src/main/java/com/flint/flint/asset/dto/MajorsResponse.java
  src/main/java/com/flint/flint/asset/dto/UniversityEmailResponse.java
  src/main/java/com/flint/flint/asset/repository/UniversityAssetRepository.java
  src/main/java/com/flint/flint/asset/repository/UniversityMajorRepository.java
  src/main/java/com/flint/flint/asset/service/AssetService.java
  src/main/java/com/flint/flint/common/spec/ResultCode.java
  src/test/java/com/flint/flint/asset/service/AssetServiceTest.java
Labels: Feat, Test

#49 feat: 모임 댓글, 대댓글 조회 생성 API 작성
  appspec.yml
  build.gradle
  scripts/deploy.sh
  src/main/java/com/flint/flint/club/controller/comment/ClubCommentController.java
  src/main/java/com/flint/flint/club/controller/main/ClubController.java
  src/main/java/com/flint/flint/club/domain/comment/ClubComment.java
  src/main/java/com/flint/flint/club/domain/main/ClubCategory.java
  src/main/java/com/flint/flint/club/domain/main/ClubEnvironment.java
  src/main/java/com/flint/flint/club/domain/main/ClubImage.java
  src/main/java/com/flint/flint/club/domain/main/ClubRequirement.java
  src/main/java/com/flint/flint/club/repository/comment/ClubCommentRepository.java
  src/main/java/com/flint/flint/club/repository/main/ClubCustomRepositoryImpl.java
  src/main/java/com/flint/flint/club/request/ClubCommentCreateRequest.java
  src/main/java/com/flint/flint/club/request/PageRequest.java
  src/main/java/com/flint/flint/club/response/ClubCommentsAndRepliesResponse.java
  src/main/java/com/flint/flint/club/service/comment/ClubCommentServiceImpl.java
  src/main/java/com/flint/flint/common/spec/ResultCode.java
  src/main/java/com/flint/flint/member/repository/UniversityCertifyRepository.java
  src/main/resources/application-dev.yml
  src/test/java/com/flint/flint/club/controller/ClubCommentControllerTest.java
  src/test/java/com/flint/flint/club/controller/ClubControllerTest.java
  src/test/java/com/flint/flint/club/service/ClubCommentServiceTest.java
  src/test/java/com/flint/flint/club/service/ClubServiceTest.java
Labels: Feat, Fix, Test

#56 feat: Asset 데이터 조회 API 컨트롤러 구현
  src/main/java/com/flint/flint/asset/controller/AssetApiController.java
  src/main/java/com/flint/flint/config/SecurityConfig.java
  src/main/java/com/flint/flint/security/auth/jwt/JwtAuthenticationFilter.java
  src/test/java/com/flint/flint/asset/controller/AssetApiControllerTest.java
Labels: Feat, Test

#57 fix : Club, ClubComment Controller ResponseForm 수정
  src/main/java/com/flint/flint/club/controller/comment/ClubCommentController.java
  src/main/java/com/flint/flint/club/controller/main/ClubController.java
Labels: Fix

#58 자신 명함 조회 API
  src/main/java/com/flint/flint/config/SecurityConfig.java
  src/main/java/com/flint/flint/idcard/controller/IdCardGetController.java
  src/main/java/com/flint/flint/idcard/dto/response/IdCardGetResponse.java
  src/main/java/com/flint/flint/idcard/dto/response/IdCardResponse.java
  src/main/java/com/flint/flint/idcard/repository/IdCardJPARepository.java
  src/main/java/com/flint/flint/idcard/service/IdCardService.java
  src/main/java/com/flint/flint/idcard/spec/InterestConverter.java
  src/main/resources/application.yml
  src/test/java/com/flint/flint/idcard/service/IdCardServiceTest.java
Labels: Feat, Test

#62 Feat: accessdeihandler 구현
  src/main/java/com/flint/flint/common/spec/ResultCode.java
  src/main/java/com/flint/flint/config/SecurityConfig.java
  src/main/java/com/flint/flint/member/spec/Authority.java
  src/main/java/com/flint/flint/security/auth/CustomAccessDeniedHandler.java
  src/main/java/com/flint/flint/security/auth/jwt/JwtService.java
  src/test/java/com/flint/flint/idcard/service/IdCardBoxServiceTest.java
Labels: Feat

#63 feat: 게시글 생성 api 구현
  src/main/java/com/flint/flint/common/spec/ResultCode.java
  src/main/java/com/flint/flint/community/controller/PostApiController.java
  src/main/java/com/flint/flint/community/domain/post/Post.java
  src/main/java/com/flint/flint/community/domain/post/PostImage.java
  src/main/java/com/flint/flint/community/dto/request/PostRequest.java
  src/main/java/com/flint/flint/community/dto/response/PostPreSignedUrlResponse.java
  src/main/java/com/flint/flint/community/repository/PostRepository.java
  src/main/java/com/flint/flint/community/service/BoardService.java
  src/main/java/com/flint/flint/community/service/PostService.java
  src/main/java/com/flint/flint/config/SecurityConfig.java
  src/main/java/com/flint/flint/media/service/MediaService.java
  src/test/java/com/flint/flint/community/controller/PostApiControllerTest.java
  src/test/java/com/flint/flint/community/service/PostServiceTest.java
  src/test/java/com/flint/flint/custom_member/WithMockCustomMember.java
  src/test/java/com/flint/flint/custom_member/WithMockCustomMemberSecurityContextFactory.java
Labels: Feat, Test, Conversation

#69 feat: 게시판 즐겨찾기 등록 API 구현
  src/main/java/com/flint/flint/club/controller/main/ClubController.java
  src/main/java/com/flint/flint/common/spec/ResultCode.java
  src/main/java/com/flint/flint/community/controller/BoardApiController.java
  src/main/java/com/flint/flint/community/controller/PostApiController.java
  src/main/java/com/flint/flint/community/domain/board/BoardBookmark.java
  src/main/java/com/flint/flint/community/repository/BoardBookmarkRepository.java
  src/main/java/com/flint/flint/community/repository/BoardRepository.java
  src/main/java/com/flint/flint/community/repository/MajorBoardRepository.java
  src/main/java/com/flint/flint/community/service/BoardService.java
  src/main/java/com/flint/flint/community/service/PostService.java
  src/main/java/com/flint/flint/member/domain/main/Member.java
  src/main/java/com/flint/flint/member/service/MemberService.java
  src/main/java/com/flint/flint/member/spec/Authority.java
  src/test/java/com/flint/flint/club/controller/ClubControllerTest.java
  src/test/java/com/flint/flint/community/controller/BoardApiControllerTest.java
  src/test/java/com/flint/flint/community/controller/PostApiControllerTest.java
  src/test/java/com/flint/flint/community/service/BoardServiceTest.java
  src/test/java/com/flint/flint/community/service/PostServiceTest.java
  src/test/java/com/flint/flint/idcard/service/IdCardServiceTest.java
Labels: Feat, Test, Refactor
