Repository Flint-org/Flint-API-Server, pull requests merged in 2023-10, with the labels that each got.

#77 Feat: 댓글/대댓글 생성, 수정, 삭제 구현
  src/main/java/com/flint/flint/common/spec/ResultCode.java
  src/main/java/com/flint/flint/community/controller/PostCommentUpdateController.java
  src/main/java/com/flint/flint/community/domain/post/PostComment.java
  src/main/java/com/flint/flint/community/dto/request/PostCommentUpdateRequest.java
  src/main/java/com/flint/flint/community/dto/response/PostCommentCreateResponse.java
  src/main/java/com/flint/flint/community/repository/PostCommentRepository.java
  src/main/java/com/flint/flint/community/service/PostCommentUpdateService.java
  src/test/java/com/flint/flint/community/service/PostCommentUpdateServiceTest.java
  src/test/java/com/flint/flint/custom_member/WithMockCustomMember.java
Labels: Feat, Test

#80 Feat: 특정 포스터 댓글/대댓글 조회 API 구현
  src/main/java/com/flint/flint/community/controller/PostCommentGetController.java
  src/main/java/com/flint/flint/community/controller/PostCommentUpdateController.java
  src/main/java/com/flint/flint/community/domain/post/PostComment.java
  src/main/java/com/flint/flint/community/dto/request/PostCommentUpdateRequest.java
  src/main/java/com/flint/flint/community/dto/response/PostCommentGetResponse.java
  src/main/java/com/flint/flint/community/dto/response/PostCommentUpdateResponse.java
  src/main/java/com/flint/flint/community/repository/PostCommentRepository.java
  src/main/java/com/flint/flint/community/repository/custom/PostCommentRepositoryCustom.java
  src/main/java/com/flint/flint/community/repository/impl/PostCommentRepositoryImpl.java
  src/main/java/com/flint/flint/community/service/PostCommentGetService.java
  src/main/java/com/flint/flint/community/service/PostCommentUpdateService.java
  src/test/java/com/flint/flint/community/controller/PostCommentGetControllerTest.java
  src/test/java/com/flint/flint/community/service/PostCommentUpdateServiceTest.java
Labels: Feat, Test, Refactor

#86 refactor: 전공 게시판 소분류에 대해 공통 게시판 ID 부여에 따른 수정
  src/main/java/com/flint/flint/community/domain/board/MajorBoard.java
  src/main/java/com/flint/flint/community/dto/response/LowerMajorBoardResponse.java
  src/main/java/com/flint/flint/community/service/BoardService.java
  src/test/java/com/flint/flint/community/service/BoardServiceTest.java
Labels: Refactor

#83 Feat: 댓글/대댓글 좋아요 좋아요/취소 API 구현
  src/main/java/com/flint/flint/community/controller/PostCommentUpdateController.java
  src/main/java/com/flint/flint/community/repository/PostCommentLikeRepository.java
  src/main/java/com/flint/flint/community/service/PostCommentLikeUpdateService.java
  src/test/java/com/flint/flint/community/service/PostCommentLikeUpdateServiceTest.java
Labels: Feat, Test
